.logo-container {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,h2,h3,h4 {
  font-weight: lighter;
}

a:link, a:hover, a:active, a:visited {
  color: #DE084A;
}

.centered {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  max-width: 650px;
}

.logo-container img {
  margin: 20px;
  display: inline-block;
  width: 60%;
}

p {
  font-weight: lighter;
  font-size: larger;
}

p.teaser {
  text-align: center;
}

.imprint-header {
  margin: 3rem;
  text-align: center;

  font-weight: lighter;
  font-size: larger;
}

.imprint-header emph {
  font-weight: 300;
}